In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
import acquire
from acquire import get_stores_df
from acquire import get_combined_df

In [2]:
sales_df = acquire.get_sales_df()
sales_df.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         33.0  Sat, 10 Sep 2016 00:00:00 GMT     5001      3
1     1         27.0  Sun, 11 Sep 2016 00:00:00 GMT     5002      3
2     1         26.0  Mon, 12 Sep 2016 00:00:00 GMT     5003      3
3     1         22.0  Tue, 13 Sep 2016 00:00:00 GMT     5004      3
4     1         25.0  Wed, 14 Sep 2016 00:00:00 GMT     5005      3

In [3]:
sales_df.item.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [4]:
df = get_stores_df()
df.head(3)

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201

In [5]:
df = acquire.get_combined_df()
df.sample(20)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode
343790,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On Golden Toast Crackers - 8 Pk,9.02,28400029254,28400029254,39,61.0,"Sun, 18 May 2014 00:00:00 GMT",708991,9,735 SW Military Dr,San Antonio,9,TX,78221
438057,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403,44,44.0,"Sun, 02 Jul 2017 00:00:00 GMT",803258,10,8503 NW Military Hwy,San Antonio,10,TX,78231
516356,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772,49,40.0,"Fri, 25 Nov 2016 00:00:00 GMT",881557,3,2118 Fredericksburg Rdj,San Antonio,3,TX,78201
158681,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038,29,81.0,"Tue, 04 Jul 2017 00:00:00 GMT",523882,7,12018 Perrin Beitel Rd,San Antonio,7,TX,78217
537873,Choice,50,Choice Organic Teas Black Tea Classic Black - 16 Ct,5.20,47445919221,47445919221,50,44.0,"Tue, 27 Oct 2015 00:00:00 GMT",903074,5,1520 Austin Hwy,San Antonio,5,TX,78218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403693,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379,43,67.0,"Tue, 28 May 2013 00:00:00 GMT",768894,2,9255 FM 471 West,San Antonio,2,TX,78251
30120,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scalloped 2 Pouches For 2 Meals - 2 Pk,7.31,16000288829,16000288829,22,57.0,"Wed, 24 Jun 2015 00:00:00 GMT",395321,7,12018 Perrin Beitel Rd,San Antonio,7,TX,78217
432847,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403,44,25.0,"Wed, 27 Mar 2013 00:00:00 GMT",798048,8,15000 San Pedro Ave,San Antonio,8,TX,78232
121688,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008,27,13.0,"Fri, 18 Mar 2016 00:00:00 GMT",486889,7,12018 Perrin Beitel Rd,San Antonio,7,TX,78217
225853,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacifiers 6m+ - 2ct,6.52,71463060078,71463060078,33,68.0,"Thu, 09 Jun 2016 00:00:00 GMT",591054,4,516 S Flores St,San Antonio,4,TX,78204

In [6]:
df.columns

Index(['item_brand', 'item_id', 'item_name', 'item_price', 'item_upc12',
       'item_upc14', 'item', 'sale_amount', 'sale_date', 'sale_id', 'store',
       'store_address', 'store_city', 'store_id', 'store_state',
       'store_zipcode'],
      dtype='object')

In [7]:
df.shape[0]

547800

In [8]:
df.isnull().sum()

item_brand       0
item_id          0
item_name        0
item_price       0
item_upc12       0
item_upc14       0
item             0
sale_amount      0
sale_date        0
sale_id          0
store            0
store_address    0
store_city       0
store_id         0
store_state      0
store_zipcode    0
dtype: int64

In [9]:
df.store_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [10]:
df.item.unique()

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [11]:
df.sale_date.unique()

array(['Tue, 01 Jan 2013 00:00:00 GMT', 'Wed, 02 Jan 2013 00:00:00 GMT',
       'Thu, 03 Jan 2013 00:00:00 GMT', ...,
       'Fri, 29 Dec 2017 00:00:00 GMT', 'Sat, 30 Dec 2017 00:00:00 GMT',
       'Sun, 31 Dec 2017 00:00:00 GMT'], dtype=object)

In [12]:
## Set datetime index
## reassign the sale_date column to be a datetime type
df.sale_date = pd.to_datetime(df.sale_date, format = '%a, %d %b %Y %H:%M:%S %Z')
## set the index as that date and then sort index (by the date)
df = df.set_index('sale_date').sort_index()

In [13]:
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,item,sale_amount,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode
sale_date,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg Tablets - 120 Ct,8.09,753950001954,753950001954,21,22.0,365201,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
2013-01-01 00:00:00+00:00,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428,25,45.0,452849,9,735 SW Military Dr,San Antonio,9,TX,78221
2013-01-01 00:00:00+00:00,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525,36,55.0,655535,10,8503 NW Military Hwy,San Antonio,10,TX,78231
2013-01-01 00:00:00+00:00,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool Silver,3.72,79400271631,79400271631,48,45.0,860047,2,9255 FM 471 West,San Antonio,2,TX,78251
2013-01-01 00:00:00+00:00,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045,26,19.0,463805,5,1520 Austin Hwy,San Antonio,5,TX,78218